# ---------------------------------
# Python
# ---------------------------------
*.py[cod]
*.pyo
*.pyd
__pycache__/
.pytest_cache/
*.cover
*.tox
*.nox
*.coverage
*.hypothesis/
.coverage*
.cache/
.mypy_cache/
.dmypy.json
.pyre/
.pytype/
*.sqlite3

# virtualenv
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# lokalne pliki środowiskowe
*.env
!.env.example   # wyjątek jeśli chcesz mieć szablon env w repo

# ---------------------------------
# IDE / edytory
# ---------------------------------
.vscode/
.idea/
*.iml

# ---------------------------------
# System
# ---------------------------------
.DS_Store
Thumbs.db

# ---------------------------------
# Logi
# ---------------------------------
*.log
logs/
*.out
*.err

# ---------------------------------
# Docker
# ---------------------------------
# ignorujemy lokalne pliki i buildy
docker-compose.override.yml
.docker/
*.pid

# ---------------------------------
# Redis / DB / Cache
# ---------------------------------
dump.rdb
*.rdb
*.aof
*.db
